<section class="content">
    <table class=" table table-hover table-striped table-bordered table-sm table-responsive-sm">
        <thead>
          <tr>
            <th scope="col" colspan="2">Questions</th>
            <th scope="col" colspan="2" *ngFor="let habitation of habitations_list;let i = index">{{habitation.intitule}}</th>
          </tr>
          <tr>
            <th scope="row" colspan="2"></th>
            <td *ngFor="habitation for habitations_list.length;let i=index">
                <table *ngIf="i%2==0">
                    <tr>
                        <td>construction</td>
                     </tr>
                </table>
                <table *ngIf="i%2!=0">
                    <tr>
                        <td>Exploitation</td>
                     </tr>
                </table>
            </td>
            
           
             
            
          </tr>
        </thead>
        <tbody *ngFor="let questions of questions_list;let i = index">
           
        </tbody>
      </table>
</section>