
<table *ngIf="habitation" class="table table-responsive-sm">
    <thead>
    <tr>
        <th>Identifiant</th>
        <th>Intitule</th>
        <th>Created_at</th>
        <th>updated_at</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{habitation.id}}</td>
        <td>{{habitation.intitule}}</td>
        <td>{{habitation.created_at | date:'dd/MM/yyyy'}}</td>
        <td>{{habitation.updated_at | date:'dd/MM/yyyy'}}</td>
        <td>
            <a class="btn btn-w-md btn-warning mx-3">Modifier</a>
            <a  class="btn btn-w-md btn-danger mx-3" (click)="openPopup()">Supprimer</a>
        </td>
    </tr>
    </tbody>
</table>
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{habitation?.id}}:{{habitation?.intitule}}</h4>
      </div>
      <div class="modal-body">
        <p>Confirmer la suppression de l'habitation N-{{habitation?.id}}</p>
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
        (click)="deleteHabitation()">
        Supprimer
        </button>
        <a class="btn btn-w-md btn-success" (click)="closePopup()">Close</a>
        
      </div>
    </div>
  </div>
</div>
<div class="font-example-box top-0 start-0" [routerLink]="['/habitations']">
  <span class="pe-7s-angle-left" style="color:orange"></span>
</div>