<section class="content">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-filled">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="panel-toggle"><i class="fa fa-chevron-up"></i></a>
                            <a class="panel-close"><i class="fa fa-times"></i></a>
                        </div>
                            Equipemennts
                    </div>
                    <div class="panel-body">
                        
                          
                          <!-- Modal -->
                          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Add Vigilance</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <form [formGroup]="formGroup" (ngSubmit)="onAddEquipement()">
                                        <div class="form-group"><label for="exampleInputName">Type</label> <input type="text" formControlName="type"  class="form-control" id="exampleInputName" placeholder="Type"></div>
                                        <div class="form-group"><label for="exampleInputEmail1">Frequence</label> <input type="text" formControlName="moment_frequence"  class="form-control" id="exampleInputEmail1" placeholder="Frequence"></div>
                                        <div class="form-group"><label for="exampleInputPassword1">Organisme</label> <input type="text" formControlName="personne_organisme"  class="form-control" id="exampleInputPassword1" placeholder="Organisme"></div>
                                        <div class="form-group"><label for="exampleInputPassword1">Reference</label> <input type="text" formControlName="reference" class="form-control" id="exampleInputPassword1" placeholder="Reference"></div>
                                        <!-- <div class="form-group"><label for="exampleInputPassword1">Cree Le</label> 
                                            <input type="text" formControlName="created_at"  class="form-control" id="exampleInputName" placeholder="Cree le">
                                        </div>
                                        <div class="form-group"><label for="exampleInputPassword1">Modifie Le</label> <input type="text" formControlName="updated_at"  class="form-control" id="exampleInputPassword1" placeholder="Modifie Le"></div>
         -->
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- Modal -->
                          <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Update Vigilance</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <!-- (ngSubmit)="onUpdateVigilance(item)" -->
                                    <form [formGroup]="formGroup2" (ngSubmit)="onEdit()">
                                        <div class="form-group"><label for="exampleInputName">Type</label> <input type="text" formControlName="type"  class="form-control" id="exampleInputName" placeholder="Type"></div>
                                        <div class="form-group"><label for="exampleInputEmail1">Frequence</label> <input type="text" formControlName="moment_frequence"  class="form-control" id="exampleInputEmail1" placeholder="Frequence"></div>
                                        <div class="form-group"><label for="exampleInputPassword1">Organisme</label> <input type="text" formControlName="personne_organisme"  class="form-control" id="exampleInputPassword1" placeholder="Organisme"></div>
                                        <div class="form-group"><label for="exampleInputPassword1">Reference</label> <input type="text" formControlName="reference" class="form-control" id="exampleInputPassword1" placeholder="Reference"></div>
                                        
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                                </div>
                              </div>
                            </div>
                          </div>

                   
                        <div id="tableExample3_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                            <div class="row"><div class="col-sm-10">
                                <div class="dataTables_length" id="tableExample3_length">
                                    <label>Show 
                                        <select name="tableExample3_length" aria-controls="tableExample3" class="form-control form-control-sm">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="-1">All</option>
                                        </select> entries</label>
                                    </div>
                                </div>
                                <!-- <div class="col-sm-4 text-center">
                                    <div class="dt-buttons btn-group"> -->
                                        <!-- <a class="btn btn-default buttons-copy buttons-html5 btn-sm" data-toggle="modal" data-target="#myModal1" tabindex="0" aria-controls="tableExample3" >
                                            <span>Add</span>
                                        </a> -->
                                        <!-- <button type="button" class="btn btn-default btn-sm " data-toggle="modal" data-target="#exampleModal">
                                            Add
                                          </button> -->
                                    <!-- </div>
                                </div> -->
                                <div class="col-sm-2">
                                    <div id="tableExample3_filter" class="dataTables_filter">
                                        <!-- <form #f="ngForm" (ngSubmit)="onSearch(f.value)"> -->
                                            
                                            <label>Search:<input [(ngModel)]="search" name="search" type="search" (input)="onSearch()" class="form-control form-control-sm" placeholder="Entrer un Etat" aria-controls="tableExample3"></label>
                                            <!-- <button class="btn btn-sm" type="submit">
                                                <span class="fa fa-search"></span>
                                              </button> -->
                                        <!-- </form> -->
                                    </div></div></div><table id="tableExample3" class="table table-striped table-hover table-responsive-sm dataTable no-footer" role="grid">
                                        
                            <thead>
                            <tr role="row">
                                <th class="sorting" tabindex="0" aria-controls="tableExample3" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" >
                                    <button title="Ajouter ici" type="button" class="btn btn-default btn-sm " data-toggle="modal" data-target="#exampleModal">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                      </button>
                                </th>
                                <!-- <th class="sorting_asc" tabindex="0" aria-controls="tableExample3" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 47px;">ID</th> -->
                                <th class="sorting" tabindex="0" aria-controls="tableExample3" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" >Type</th>
                                <th class="sorting" tabindex="0" aria-controls="tableExample3" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" >Frequence</th>
                                <th class="sorting" tabindex="0" aria-controls="tableExample3" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" >Organisme</th>
                                <th class="sorting" tabindex="0" aria-controls="tableExample3" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" >Reference</th>
                                <th class="sorting" tabindex="0" aria-controls="tableExample3" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" >Cree le</th>
                                <th class="sorting" tabindex="0" aria-controls="tableExample3" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" >Modifie le</th>
                                
                            </tr>
                                

                            </thead>
                            <tbody style="display: content;">
                                <tr role="row" class="even" *ngFor="let item of equipements">
                                    <!-- <td class="sorting_1">{{item.id}}</td> -->
                                    <td style="display: content;">
                                        <button
                                        (click)="onEditEquipement(item)"
                                        data-toggle="modal" data-target="#exampleModal2" class="btn btn-sm" title="Modifier ici">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </button>
                                        <button (click)="onDeleteEquipement(item)" class="btn btn-sm" title="Supprimer ici">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td>{{item.type}}</td>
                                    <td>{{item.moment_frequence}}</td>
                                    <td>{{item.personne_organisme}}</td>
                                    <td>{{item.reference}}</td>
                                    <td>{{item.created_at}}</td>
                                    <td>{{item.updated_at}}</td>
                                    

                                </tr>
                              
                        </tbody>
                        </table>
                            <div class="dataTables_paginate paging_simple_numbers" id="tableExample3_paginate">
                                <ul class="pagination">
                                    <!-- <li class="paginate_button page-item previous disabled" id="tableExample3_previous">
                                        <a href="#" aria-controls="tableExample3" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                    </li> -->
                                    <!-- <li class="paginate_button page-item active">
                                        <a href="#" aria-controls="tableExample3" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                    </li>
                                    <li class="paginate_button page-item ">
                                        <a href="#" aria-controls="tableExample3" data-dt-idx="2" tabindex="0" class="page-link">2</a> -->
                                    <!-- </li> -->
                                    <!-- [ngClass]="i == currentPage ? 'active' : ''" -->
                                    <li *ngFor="let item of [].constructor(this.totalPages);let i=index;" class="paginate_button page-item ">
                                        <a (click)="gotoPage(i)"  aria-controls="tableExample3" data-dt-idx="3" tabindex="0" class="page-link">{{i}}</a>
                                    </li>
                                    <!-- <li class="paginate_button page-item next" id="tableExample3_next">
                                        <a href="#" aria-controls="tableExample3" data-dt-idx="4" tabindex="0" class="page-link">Next</a>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
                                
