<section class="content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="pull-right text-right" style="line-height: 14px">
                        <div title="Ajouter ici" class="header-icon mx-2">
                          <span class="pe-7s-plus" data-toggle="modal" data-target="#myModal"  (click)=" clear()"></span>
                       </div>
                   </div>
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-menu"></i>
                    </div>
                    <div class="header-title">
                        <h3> Conseils</h3>
                        <small>
                            page regroupant les differents conseils
                        </small>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    
        <!--search component-->

<div class="row">
    <div class="col-lg-12">
        <div class="view-header">
            <div class="pull-right " style="line-height: 14px">
                <label>Par Titre
                    <app-search (search)="on($event)"></app-search>
                </label>
            </div>
            <div class="header-icon">
        
            </div>
            <div class="header-title">
                <div class="dataTables_length" id="tableExample3_length">
                    <label for="">voir
                        <select  #numbers (change)="onSelected(numbers.value)" name="tableExample3_length" aria-controls="tableExample3" class="form-control form-control-sm">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="500">All</option>
                        </select>
                    </label>
                    </div>
            </div>
        </div>
    </div>
</div>

<!--begin table-->
  <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-filled">
                        <div class="panel-heading">
                           
                           
                        </div>
                        <div class="panel-body">
                          
                            <div>
                              
                            </div>
                            <table id="tableExample3" class="table table-striped table-hover table-responsive-sm">
                                <thead>
                                <tr>
                                    <th>Couverture</th>
                                    <th>Titre</th>
                                   
                                    <th>Semidescription</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody >
                                <tr *ngFor="let conseil of arrayConseil " >
                                    <td [innerHtml]="conseil.couverture" *ngIf="searchText === '' || conseil.titre.toLowerCase().includes(searchText)"></td>
                                    <td *ngIf="searchText === '' || conseil.titre.toLowerCase().includes(searchText)">{{conseil.titre}}</td>
                                    
                                    <td [innerHTML]="conseil.semidescription" *ngIf="searchText === '' || conseil.titre.toLowerCase().includes(searchText)"></td>
                                    <td *ngIf="searchText === '' || conseil.titre.toLowerCase().includes(searchText)">
                                        <div class="row">
                                           <div class="font-example-box col-lg-2 col-md-3 col-sm-6 col-xs-6 col px-3">
                                               <span class="pe-7s-pen" style=" font-size:25px" data-toggle="modal" data-target="#myModalUpdate" (click)="checkUpdate(conseil)" title="mise a jour"></span>
                                               <span class="icon-example-name"> </span>
                                           </div>
                                           <div class="font-example-box col-lg-2 col-md-3 col-sm-6 col-xs-6 col">
                                               <span class="pe-7s-trash" style=" font-size:25px" (click)="deleteConseil(conseil)" title="suppression"></span>
                                               <span class="icon-example-name"> </span>
                                           </div>
                                           <div class="font-example-box col-lg-2 col-md-3 col-sm-6 col-xs-6 px-3">
                                               <span class="pe-7s-more" style="font-size:25px" data-toggle="modal" data-target="#allConseils" (click)="check(conseil)" title="voir toute les informations"></span>
                                               <span class="icon-example-name"> </span>
                           
                                           </div>
                                        </div>
                                       </td>
                                       
                                   <!--modal for update -->                           
                                   <div class="modal fade" id="myModalUpdate" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog  modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h4 class="modal-title">MISE A JOUR D'UN CONSEIL</h4>
                                                <small> </small>
                                            </div>
                                            <div class="modal-body">
                                                <div class=" ">
                                                    <div class="col-md-12">
                                                        <small class="stat-label">Couverture</small>
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" [(ngModel)]="couverture" ngDefaultControl>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <small class="stat-label">Titre</small>
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" [(ngModel)]="titre" ngDefaultControl>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 mt-3 mb-3">
                                                        <small class="stat-label">Description</small>
                                                        <div class="summer">
                                                            <div [ngxSummernote]="config" [(ngModel)]="description"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 mt-3">
                                                        <small class="stat-label">Semidescription</small>
                                                        <div class="summer">
                                                            <div [ngxSummernote]="config" [(ngModel)]="semidescription"></div>
                                                        </div>
                                                    </div>
                                                  
                                                  
                                                </div>
                                              
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                                <button type="button" class="btn btn-accent" (click)="updateConseille(conseil)"  data-dismiss="modal">Enregistrer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <!--end modale update-->
                            
                     <!--modale for look all Advice of user-->   
                <div class="modal fade" id="allConseils" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog  modal-lg">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title">TOUT LES INFORMATIONS</h4>
                                <small> </small>
                            </div>
                            <div class="modal-body">
                                <div class=" ">
                                    <div class="col-md-12">
                                        <h4 class="stat-label">Couverture</h4>
                                        <div class="input-group mb-3 mt-2">
                                            <P>{{conseil.couverture}}</P>
                                        </div>
                                    </div>
                                    <div class="col-md-12 ">
                                        <h4 class="stat-label">Titre</h4>
                                        <div class="input-group mb-3 mt-2">
                                            <P>{{titre}}</P>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <h4 class="stat-label">Description</h4>
                                        <div class="input-group mb-3 mt-2">
                                            <div [ngxSummernoteView]="descriptionContent"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <h4 class="stat-label">Semidescription</h4>
                                        <div class="input-group mb-3 mt-2">
                                            <div [ngxSummernoteView]="semiDescriptionContent"></div>
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default " data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end modal for look-->                        
            </tr>
                                </tbody>
                            </table>
                    <!--pagination-->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="view-header">
                                <div class="pull-right text-right" style="line-height: 14px">
                                    <ul class="pagination">
                                        <li *ngFor="let item of [].constructor(this.totalPages);let i=index;" class="paginate_button page-item ">
                                            <a (click)="gotoPage(i)"  aria-controls="tableExample3" data-dt-idx="3" tabindex="0" class="page-link">{{i}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="header-icon">
                                    
                                </div>
                                <div class="header-title">
                                
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    <!--end pagination-->

                        </div>
                    </div>
                </div>

            </div>
            <!--modale for add Advice-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">AJOUTER UN CONSEIL</h4>
                <small></small>
            </div>
            <div class="modal-body">
                <div class=" ">
                    <div class="col-md-12">
                        <small class="stat-label">Couverture</small>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" [(ngModel)]="couverture" ngDefaultControl>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <small class="stat-label">Titre</small>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" [(ngModel)]="titre" ngDefaultControl>
                        </div>
                    </div>
                    <div class="col-md-12 mt-2">
                        <small class="stat-label">Description</small>
                        <div class="summer">
                            <div [ngxSummernote]="config" [(ngModel)]="description"></div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-2">
                        <small class="stat-label">Semidescription</small>
                        <div class="summer">
                            <div [ngxSummernote]="config" [(ngModel)]="semidescription"></div>
                        </div>
                    </div>
                 
                </div>
              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-accent" data-dismiss="modal" (click)="addConseil()">Ajouter</button>
            </div>
        </div>
    </div>
</div>
<!--end modale-->

    </div>

</section>


