<div *ngIf="questions_list.length <1" href="#"
    class=" position-absolute top-50 start-50 translate-middle btn btn-success btn-rounded">
    <i class="fa fa-spinner fa-spin"></i>
</div>
<section class="content">
<div class="panel-body">
    <div class="col-lg-12">
        <div class="view-header">
            <div class="pull-right text-right" style="line-height: 14px">
                <div class="header-icon mx-2">
                    <span class="pe-7s-plus" data-toggle="modal" data-target="#addTypeQuestionModal"
                    title="ajouter Question"></span>
                </div>
            </div>
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-note2"></i>
            </div>
            <div class="header-title">
                <h3> Questions</h3>
                <small>
                    Liste des differentes questions
                </small>
            </div>
        </div>
        <hr>
    </div>
    <div class="col-md-12 container-fluid">
        <div class="panel panel-filled">
            
            <div class="panel-body">

                <div id="tableExample2_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_length" id="tableExample2_length">
                                <label>Show <select  #numbers (change)="onSelected(numbers.value)" name="tableExample2_length" aria-controls="tableExample2"
                                        class="form-control form-control-sm">
                                        <option value="6">6</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="50000">All</option>
                                    </select> entries</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div id="tableExample2_filter" class="dataTables_filter" style="float: right;">
                                <label>Search:<input [(ngModel)]="search" type="text"
                                    title="Entrez l'intitule de la question a rechercher"
                                        class="form-control form-control-sm" placeholder=""
                                        aria-controls="tableExample2">
                                </label>
                            </div>
                        </div>
                    </div>
                    <table *ngIf="questions_list.length >1"
                       id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                        <thead>
                            <tr role="row">
                                <th>Label</th>
                                <th class="th-sm">
                                    Intitule</th>
                                    <th class="th-sm">
                                        TypeQuestion</th>
                                        <th class="th-sm">
                                            Ordre</th>
                                            <th class="th-sm">
                                                Obligation</th>
                                                <th class="th-sm">
                                                    Type</th>
                               
                                <th class="th-sm" >
                                    Actions</th>
                                
                        </thead>
                        <tbody >
                            <tr  *ngFor="let question of questions_list">
                                <td *ngIf="question.question.intitule.toLowerCase().includes(search) || search==''" >{{question.label}}</td>
                                <td *ngIf="question.question.intitule.toLowerCase().includes(search) || search==''" >{{question.question.intitule}}</td>
                                <td *ngIf="question.question.intitule.toLowerCase().includes(search) || search==''" >{{getQuestionTypeLabel(question.question.idtype)}}</td>
                                <td *ngIf="question.question.intitule.toLowerCase().includes(search) || search==''" >{{question.question.ordre}}</td>
                                <td *ngIf="question.question.intitule.toLowerCase().includes(search) || search==''" >{{question.question.obligatoire==1?"oui":"Non"}}</td>
                                <td *ngIf="question.question.intitule.toLowerCase().includes(search) || search==''" >{{question.question.type}}</td>
                                <td  *ngIf="question.question.intitule.toLowerCase().includes(search) || search==''" class="d-flex justify-content-between">
                                    <span class="pe-7s-pen" style=" font-size:25px" 

                                    data-toggle="modal" data-target="#myModalUpdate"
                                    title="Modifier Question"
                                    (click)="setCurrentQuestion(question.question)" 
                                    data-toggle="modal" data-target="#updateTypeQuestionModal"></span>
                                     
                                    <span class="pe-7s-trash" style=" font-size:25px" 
                                    data-toggle="modal" data-target="#removeTypeQuestionModal"
                                    title="supprimer Question" (click)="setCurrentQuestion(question.question)"
                                    ></span>
                                
                            
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_info" id="tableExample2_info" role="status" aria-live="polite">
                                Showing 1 to 6 of 25 entries</div>
                        </div>
                        <div class="col-sm-6">
                            <div class="dataTables_paginate paging_simple_numbers" id="tableExample2_paginate" style="float: right;">
                                <ul class="pagination">
                                    <li *ngFor="let item of [].constructor(this.totalPages);let i=index;" class="paginate_button page-item ">
                                        <a (click)="gotoPage(i)"  aria-controls="tableExample3" data-dt-idx="3" tabindex="0" class="page-link">{{i}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="modal fade" id="addTypeQuestionModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title">Ajouter nouvelle Type de Question</h4>
                    <!-- <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small> -->
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="exampleInputName" class="mt-3">Intitule</label>
                        <input type="text" [(ngModel)]="intitule_new_question"
                         class="form-control" 
                         placeholder="Intitule habitation">
                         <label for="exampleInputName" class="mt-3">TypeQuestion</label>
                         <select class="select2_demo_1 form-control select2-hidden-accessible" 
                         style="width: 100%" tabindex="-1" aria-hidden="true" [(ngModel)]="idtype_new_question">
                            <option *ngFor="let questionType of questionType_list"
                             [value]="questionType.id">
                             {{questionType.label}}
                            </option>
                        </select>
                         <label for="exampleInputName" class="mt-3">Type</label>
                         <select  class="select2_demo_1 form-control select2-hidden-accessible" 
                         style="width: 100%" tabindex="-1" aria-hidden="true" [(ngModel)]="type_new_question" >
                            <option value="number">Number</option>
                            <option value="select">Select</option>
                            <option value="text">text</option>
                         </select>
                         <label for="" class="mt-3">Ordre</label>
                         <input type="number" [(ngModel)]="ordre_new_question"
                         class="form-control" 
                         placeholder="Ordre question">
                         <label for="" class="mt-3"> Obligation</label>
                         <select  class="select2_demo_1 form-control select2-hidden-accessible" 
                         style="width: 100%" tabindex="-1" aria-hidden="true" [(ngModel)]="obligatoire_new_question">
                            <option value="1">Oui</option>
                            <option value="0">Non</option>
                         </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-accent" data-dismiss="modal"
                        (click)="addQuestion()">Ajouter</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Model fot 'Remove habitation' functionality -->
    <div class="modal fade" id="removeTypeQuestionModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Confirmation suppression </h4>
              </div>
              <div class="modal-body">
                <p>Confirmer la suppression du type de question <em>"{{current_question?.intitule}}"</em>.</p>
          
              </div>
              <div class="modal-footer">
                
                <a class="btn btn-w-md btn-success" data-dismiss="modal">Annuler</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                (click)="deleteQuestion(current_question?.id)">
                Supprimer
                </button>
              </div>
            </div>
          </div>
    </div>
    <!-- Modal for 'Update habitation functionality' -->
    <div class="modal fade" id="updateTypeQuestionModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Modification de la qestion de type <em>{{current_question?.intitule}}</em></h4>
              </div>
              <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputName" class="mt-3">Intitule</label>
                    <input type="text" [(ngModel)]="update_intitule"
                     class="form-control" 
                     [value]="current_question?.intitule">
                     <label for="exampleInputName" class="mt-3">TypeQuestion</label>
                     <select class="select2_demo_1 form-control select2-hidden-accessible" 
                     style="width: 100%" tabindex="-1" aria-hidden="true" [(ngModel)]="update_idtype" ngDefaultControl >
                        <option *ngFor="let questionType of questionType_list"
                         [value]="questionType.id">
                         {{questionType.label}}
                        </option>
                    </select>
                     <label for="exampleInputName" class="mt-3">Type</label>
                     <select  class="select2_demo_1 form-control select2-hidden-accessible" 
                     style="width: 100%" tabindex="-1" aria-hidden="true" [(ngModel)]="update_type" ngDefaultControl>
                        <option value="number">Number</option>
                        <option value="select">Select</option>
                        <option value="text">text</option>
                     </select>
                     <label for="" class="mt-3">Ordre</label>
                     <input type="number" [(ngModel)]="update_ordre" ngDefaultControl
                     class="form-control" 
                     placeholder="Ordre question" [value]="current_question?.ordre">
                     <label for="" class="mt-3"> Obligation</label>
                     <select  class="select2_demo_1 form-control select2-hidden-accessible" 
                     style="width: 100%" tabindex="-1" aria-hidden="true" [(ngModel)]="update_obligatoire" ngDefaultControl >
                        <option value="1">Oui</option>
                        <option value="0">Non</option>
                     </select>
                </div>
                </div>
              <div class="modal-footer">
                
                <a class="btn btn-w-md btn-success" data-dismiss="modal">Annuler</a>
                <button type="button" class="btn btn-warning" data-dismiss="modal"
                (click)="updateQuestion()">
                Modifier
                </button>
              </div>
            </div>
          </div>
    </div>
</section>