<aside class="navigation">
    <nav>
        <ul class="nav luna-nav">
            <li class="nav-category">
                Main Menu
            </li>
            <li id="habitations" (click)="isactive()">
                <a [routerLink]="['/habitations']">Habitations</a>
            </li>
            <li id="typesquestions" (click)="isactive()">
                <a [routerLink]="['/typesquestions']">Types Questions</a>
            </li>
            <li id="questions" (click)="isactive()">
                <a [routerLink]="['/questions']">Questions</a>
            </li>
            <li id="equipements" (click)="isactive()">
                <a [routerLink]="['/equipements']">Equipements</a>
            </li>
            <li id="categories" (click)="isactive()">
                <a [routerLink]="['/categories']">Categories</a>
            </li>
            <li id="conseils" (click)="isactive()">
                <a [routerLink]="['/conseils']" >Conseils</a>
            </li>
            <li id="users" (click)="isactive()">
                <a [routerLink]="['/users']">Utilisateurs</a>
            </li>
            <li id="abonnementsearch" (click)="isactive()">
                <a [routerLink]="['/abonnementsearch']">Abonnement</a>
            </li>
            <li id="prestataire" (click)="isactive()">
                <a  [routerLink]="['/prestataire']">Prestataire</a>
            </li>
            <li id="abonnement" (click)="isactive()">
                <a  [routerLink]="['/abonnement']">Abonnement User</a>
            </li>
            <li id="vigilance" (click)="isactive()">
                <a routerLink="vigilance">Point De Vigilance</a>
            </li>
            <li id="formations" (click)="isactive()">
                <a routerLink="formations">formation</a>
            </li>
            <li id="entreprises_formation" (click)="isactive()">
                <a routerLink="entreprises_formation">Entreprise</a>
            </li>
            <li id="outputs" (click)="isactive()">
                <a routerLink="outputs" >Output</a>
            </li>
            <li id="output_equipement" (click)="isactive()">
                <a routerLink="output_equipement">Output Des Equipements</a>
            </li>
            <li id="output_environnement" (click)="isactive()">
                <a routerLink="output_environnement">Output Environnement</a>
            </li>
           
        </ul>
    </nav>
</aside>