<aside class="navigation">
    <nav>
        <ul class="nav luna-nav">
            <li class="nav-category">
                Main Menu
            </li>
            <li class="active">
                <a [routerLink]="['/habitations']">Habitations</a>
            </li>
            <!-- <li>
                <a href="#monitoring" data-toggle="collapse" aria-expanded="false">
                    Questions<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                </a>
                <ul id="monitoring" class="nav nav-second collapse">
                    <li><a href="metrics.html"> Types Questions</a></li>
                </ul>
            </li>
            <li>
                <a href="#monitoring" data-toggle="collapse" aria-expanded="false">
                    Equipements<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                </a>
                <ul id="monitoring" class="nav nav-second collapse">
                    <li><a href="metrics.html"> Types Equipements</a></li>
                </ul>
            </li>
            <li class="active">
                <a [routerLink]="['/vigilance']">Categories</a>
            </li>
           
            <li class="active">
                <a [routerLink]="['/vigilance']">Propositions</a>
            </li> -->

           
            
        </ul>
    </nav>
</aside>