<aside class="navigation">
    <nav>
        <ul class="nav luna-nav">
            <li class="nav-category">
                Main Menu
            </li>
            <li id="habitations" >
                <a [routerLink]="['/habitations']" routerLinkActive="active-link" >Habitations</a>
            </li>
            <li id="typesquestions" >
                <a [routerLink]="['/typesquestions']"routerLinkActive="active-link">Types Questions</a>
            </li>
            <li id="questions" >
                <a [routerLink]="['/questions']" routerLinkActive="active-link">Questions</a>
            </li>
            <li id="equipements" >
                <a [routerLink]="['/equipements']" routerLinkActive="active-link">Equipements</a>
            </li>
            <li id="categories" >
                <a [routerLink]="['/categories']" routerLinkActive="active-link">Categories</a>
            </li>
            <li id="conseils" >
                <a [routerLink]="['/conseils']" routerLinkActive="active-link">Conseils</a>
            </li>
            <li id="users" >
                <a [routerLink]="['/users']" routerLinkActive="active-link">Utilisateurs</a>
            </li>
            <li id="abonnementsearch" >
                <a [routerLink]="['/abonnementsearch']" routerLinkActive="active-link">Abonnement</a>
            </li>
            <li id="prestataire" >
                <a  [routerLink]="['/prestataire']" routerLinkActive="active-link">Prestataire</a>
            </li>
            <li id="abonnement" >
                <a  [routerLink]="['/abonnement']" routerLinkActive="active-link">Abonnement User</a>
            </li>
            <li id="vigilance" >
                <a routerLink="vigilance" routerLinkActive="active-link">Point De Vigilance</a>
            </li>
            <li id="formations"  >
                <a class="link" routerLink="formations" routerLinkActive="active-link">formation</a>
            </li>
            <li id="entreprises_formation" >
                <a routerLink="entreprises_formation" routerLinkActive="active-link">Entreprise</a>
            </li>
            <li id="outputs" >
                <a routerLink="outputs" routerLinkActive="active-link" >Output</a>
            </li>
            <li id="output_equipement" >
                <a routerLink="output_equipement" routerLinkActive="active-link">Output Des Equipements</a>
            </li>
            <li id="output_environnement" >
                <a routerLink="output_environnement" routerLinkActive="active-link">Output Environnement</a>
            </li>
           
        </ul>
    </nav>
</aside>