<section class="content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="pull-right text-right" style="line-height: 14px">
                        <small>Table design<br>General<br> <span class="c-white">Table styles</span></small>
                    </div>
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-menu"></i>
                    </div>
                    <div class="header-title">
                        <h3> Abonnements</h3>
                        <small>
                            Examples of various designs of tables.
                        </small>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    
        <!--search component-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="add_and_search">
                <div class="add">
                    <button  class="btn btn-w-md btn-accent" data-toggle="modal" data-target="#myModal" (click)=" clear()">Add Abonnement</button>
                </div>
            </div>
            <div class="input-group mb-3 mt-2 w-25">
             <!--  <app-search (search)="on($event)"></app-search> -->
            </div>
        </div>
    </div>
</div>

<div class="row"><div class="col-sm-10">
    <div class="dataTables_length" id="tableExample3_length">
      <label>Show 
          <select name="tableExample3_length" aria-controls="tableExample3" class="form-control form-control-sm">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="-1">All</option>
          </select>
    </label>
      </div>
      </div>

      <div class="col-sm-2">
          <div id="tableExample3_filter" class="dataTables_filter">
                <app-search (search)="onSearch($event)"></app-search>
          </div>
        </div>
</div>

<!--begin table-->
  <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-filled">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a class="panel-toggle"><i class="fa fa-chevron-up"></i></a>
                                <a class="panel-close"><i class="fa fa-times"></i></a>
                            </div>
                           
                        </div>
                        <div class="panel-body">
                          
                            <div>
                              
                            </div>
                            <table id="tableExample3" class="table table-striped table-hover table-responsive-sm">
                                <thead>
                                <tr>
                                    <th>Periode</th>
                                    <th>Intitule</th>
                                    <th>Montant</th>
                                    <th>Frequence</th>
                                    <th>Options</th>
                                </tr>
                                </thead>
                                <tbody *ngFor="let abonnement of arrayAbonnements ">
                                <tr *ngIf="searchText === '' || abonnement.intitule.toLowerCase().includes(searchText)">
                                    <td >{{abonnement.periode}}</td>
                                    <td>{{abonnement.intitule}}</td>
                                    <td>{{abonnement.montant}}</td>
                                    <td>{{abonnement.frequence}}</td>
                                    <td>
                                        <div class="row">
                                           <div class="font-example-box col-lg-2 col-md-3 col-sm-6 col-xs-6 col px-3">
                                               <span class="pe-7s-note2" style=" font-size:25px" data-toggle="modal" data-target="#myModalUpdate" (click)="checkUpdate(abonnement)"></span>
                                               <span class="icon-example-name"> </span>
                                           </div>
                                           <div class="font-example-box col-lg-2 col-md-3 col-sm-6 col-xs-6 col">
                                               <span class="pe-7s-trash" style=" font-size:25px" (click)=" deleteAbonnement(abonnement)"></span>
                                               <span class="icon-example-name"> </span>
                                           </div>
                                           <div class="font-example-box col-lg-2 col-md-3 col-sm-6 col-xs-6 px-3">
                                               <span class="pe-7s-news-paper" style="font-size:25px" data-toggle="modal" data-target="#allConseils" (click)="check(abonnement)" ></span>
                                               <span class="icon-example-name"> </span>
                           
                                           </div>
                                        </div>
                                       </td>
                                   <!--modal for update -->                           
                                   <div class="modal fade" id="myModalUpdate" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h4 class="modal-title">UPDATE AN ABONNEMENT</h4>
                                                <small> </small>
                                            </div>
                                            <div class="modal-body">
                                                <div class=" ">
                                                    <div class="col-md-12">
                                                        <small class="stat-label">Periode</small>
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" [(ngModel)]="periode" ngDefaultControl>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <small class="stat-label">Frequence</small>
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" [(ngModel)]="frequence" ngDefaultControl>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <small class="stat-label">Description</small>
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" [(ngModel)]="description" ngDefaultControl>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <small class="stat-label">Montant</small>
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" [(ngModel)]="montant" ngDefaultControl>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <small class="stat-label">Intitule</small>
                                                        <div class="input-group mb-3">
                                                            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" [(ngModel)]="montant" ngDefaultControl>
                                                        </div>
                                                    </div>
                                                </div>
                                              
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-accent" (click)="updateAbonnement(abonnement)">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <!--end modale update-->
                            
                     <!--modale for look all Advice of user-->   
                <div class="modal fade" id="allConseils" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title">VIEW ALL ABONNEMENT</h4>
                                <small> </small>
                            </div>
                            <div class="modal-body">
                                <div class=" ">
                                    <div class="col-md-12">
                                        <h4 class="stat-label">Periode</h4>
                                        <div class="input-group mb-3 mt-2">
                                            <P>{{periode}}</P>
                                        </div>
                                    </div>
                                    <div class="col-md-12 ">
                                        <h4 class="stat-label">Frequence</h4>
                                        <div class="input-group mb-3 mt-2">
                                            <P>{{frequence}}</P>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <h4 class="stat-label">Description</h4>
                                        <div class="input-group mb-3 mt-2">
                                            <div [ngxSummernoteView]="descriptionContent"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <h4 class="stat-label">Montant</h4>
                                        <div class="input-group mb-3 mt-2">
                                            <p>{{montant}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <h4 class="stat-label">Intitule</h4>
                                        <div class="input-group mb-3 mt-2">
                                            <p>{{intitule}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <h4 class="stat-label">Created_at</h4>
                                        <div class="input-group mb-3 mt-2">
                                            <p>{{created_at | date }}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <h4 class="stat-label">Update_at</h4>
                                        <div class="input-group mb-3 mt-2">
                                            <p>{{updated_at | date }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end modal for look-->                        
            </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!--modale for add Advice-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">ADD AN ADVICE</h4>
                <small>add an advisor by adding the different fields for each title.</small>
            </div>
            <div class="modal-body">
                <div class=" ">
                    <div class="col-md-12">
                        <small class="stat-label">Periode</small>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" [(ngModel)]="periode" ngDefaultControl>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <small class="stat-label">Intitule</small>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1"  [(ngModel)]="intitule" ngDefaultControl>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <small class="stat-label">Frequence</small>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" [(ngModel)]="frequence" ngDefaultControl >
                        </div>
                    </div>
                    <div class="col-md-12">
                        <small class="stat-label">Montant</small>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1"  [(ngModel)]="montant" ngDefaultControl>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <small class="stat-label">Description</small>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1"  [(ngModel)]="description" ngDefaultControl>
                        </div>
                    </div>
                </div>
              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-accent" (click)="addAbonnement()">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!--end modale-->

    </div>
</section>


