<section class="content">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-filled">
                    <div class="panel-heading">
                            Formations
                    </div>
                    <div class="panel-body">
                        
                          
                          <!-- Modal -->
                          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Add Formation</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <form [formGroup]="formGroup" (ngSubmit)="onAddFormation()">
                                        <div class="form-group"><label for="exampleInputName">Equipement</label> <input type="text" formControlName="equipement"  class="form-control" id="exampleInputName" placeholder="Titre"></div>
                                        <div class="form-group"><label for="exampleInputEmail1">Beneficiare</label> <input type="text" formControlName="beneficiaire"  class="form-control" id="exampleInputEmail1" placeholder="But"></div>
                                        <div class="form-group"><label for="exampleInputPassword1">Contenu</label> <input type="text" formControlName="contenu" class="form-control" id="exampleInputPassword1" placeholder="Moment_Faire"></div>
                                        <div class="form-group"><label for="exampleInputPassword1">Document</label> <input type="text" formControlName="document" class="form-control" id="exampleInputPassword1" placeholder="Qui_Faire"></div>
                                        <div class="form-group"><label for="exampleInputPassword1">Formateur</label> 
                                            <input type="text" formControlName="formateur" class="form-control" id="exampleInputPassword1" placeholder="Qui_Faire">
                                        </div>
                                        <div class="form-group"><label for="exampleInputPassword1">Reference</label> 
                                            <input type="text" formControlName="reference" class="form-control" id="exampleInputPassword1" placeholder="Referencce">
                                        </div>
                                        <div><label> <input type="checkbox" formControlName="isconstruction"> En Construction </label></div>
                                        <div><label> <input type="checkbox" formControlName="isexploitation"> En Exploitation </label></div>
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- Modal -->
                          <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Update Formation</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <form [formGroup]="formGroup2" (ngSubmit)="onEdit()">
                                        <div class="form-group"><label for="exampleInputName">Equipement</label> <input type="text" formControlName="equipement"  class="form-control" id="exampleInputName" placeholder="Titre"></div>
                                        <div class="form-group"><label for="exampleInputEmail1">Beneficiare</label> <input type="text" formControlName="beneficiaire"  class="form-control" id="exampleInputEmail1" placeholder="But"></div>
                                        <div class="form-group"><label for="exampleInputPassword1">Contenu</label> <input type="text" formControlName="contenu" class="form-control" id="exampleInputPassword1" placeholder="Moment_Faire"></div>
                                        <div class="form-group"><label for="exampleInputPassword1">Document</label> <input type="text" formControlName="document" class="form-control" id="exampleInputPassword1" placeholder="Qui_Faire"></div>
                                        <div class="form-group"><label for="exampleInputPassword1">Formateur</label> 
                                            <input type="text" formControlName="formateur" class="form-control" id="exampleInputPassword1" placeholder="Qui_Faire">
                                        </div>
                                        <div class="form-group"><label for="exampleInputPassword1">Reference</label> 
                                            <input type="text" formControlName="reference" class="form-control" id="exampleInputPassword1" placeholder="Referencce">
                                        </div>
                                        <div><label> <input type="checkbox" formControlName="isconstruction"> En Construction </label></div>
                                        <div><label> <input type="checkbox" formControlName="isexploitation"> En Exploitation </label></div>
                                        
                                        <button type="submit" class="btn btn-default">Submit</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>

                   
                        <div id="tableExample3_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                            <div class="row"><div class="col-sm-10">
                                <div class="dataTables_length" id="tableExample3_length">
                                    <label>Show 
                                        <select #numbers (change)="onSelected(numbers.value)" name="tableExample3_length" aria-controls="tableExample3" class="form-control form-control-sm">
                                            <option value="5">5</option>
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="500">All</option>
                                        </select> entries</label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div id="tableExample3_filter" class="dataTables_filter">
                                            <!-- <label>Search:<input [(ngModel)]="search" name="search" type="search" (input)="onSearch()" class="form-control form-control-sm" placeholder="Entrer un Etat" aria-controls="tableExample3"></label> -->
                                           
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="tableExample3" class="table table-striped table-hover table-responsive-sm dataTable no-footer" role="grid">          
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="tableExample3" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" >
                                            <button title="Ajouter ici" type="button" class="btn btn-default btn-sm " data-toggle="modal" data-target="#exampleModal">
                                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                              </button>
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="tableExample3" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" >Equipement</th>
                                        <th class="sorting" tabindex="0" aria-controls="tableExample3" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" >Beneficiaire</th>
                                        <th class="sorting" tabindex="0" aria-controls="tableExample3" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" >Contenu</th>
                                        <th class="sorting" tabindex="0" aria-controls="tableExample3" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" >Document</th>
                                        <th class="sorting" tabindex="0" aria-controls="tableExample3" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" >Formateur</th>
                                        <th class="sorting" tabindex="0" aria-controls="tableExample3" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" >Reference</th>
                                        <th class="sorting" tabindex="0" aria-controls="tableExample3" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" >En Construction</th>
                                        <th class="sorting" tabindex="0" aria-controls="tableExample3" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" >En Exploitation</th>
                                        
                                        
                                    </tr>
                                        
        
                                    </thead>
                                    <tbody style="display: content;">
                                        <tr role="row" class="even" *ngFor="let item of formations">
                                            <td style="display: content;">
                                                <button 
                                                (click)="onEditFormation(item)"
                                                
                                                data-toggle="modal" data-target="#exampleModal2" class="btn btn-sm" title="Modifier ici">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </button>
                                                <button (click)="onDeleteFormation(item)" class="btn btn-sm" title="Supprimer ici">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                            <td [innerHTML]="item.equipement"></td>
                                            <td [innerHTML]="item.beneficiaire"></td>
                                            <td [innerHTML]="item.contenu"></td>
                                            <td [innerHTML]="item.document"></td>
                                            <td [innerHTML]="item.formateur"></td>
                                            <td [innerHTML]="item.reference"></td>
                                            <td [innerHTML]="item.isconstruction"></td>
                                            <td [innerHTML]="item.isexploitation"></td>
                                        </tr>
                                      
                                </tbody>
                                </table>
                            </div>
                            <div class="dataTables_paginate paging_simple_numbers" id="tableExample3_paginate">
                                <ul class="pagination">
                                    <li *ngFor="let item of [].constructor(this.totalPages);let i=index;" class="paginate_button page-item ">
                                        <a (click)="gotoPage(i)"  aria-controls="tableExample3" data-dt-idx="3" tabindex="0" class="page-link">{{i}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
                                
