<!-- Navigation-->
<aside class="navigation">
    <nav>
        <ul class="nav luna-nav">
            <li class="nav-category">
                DashBoard
            </li>
            <li>
                <a routerLink="vigilance">Point De Vigilance</a>
            </li>
            <li>
                <a routerLink="formations">formation</a>
            </li>
            <li>
                <a routerLink="entreprises_formation">Entreprise</a>
            </li>
            <li>
                <a routerLink="outputs" >Output</a>
            </li>
            <li>
                <a routerLink="output_equipement">Output Des Equipements</a>
            </li>
            <li>
                <a routerLink="output_environnement">Output Environnement</a>
            </li>
        </ul>
    </nav>
</aside>
<!-- End navigation-->