<section class="content">
    <div class="container-fluid">
        
        <div class="row"><div class="col-lg-12">
            <div class="view-header">
                <div class="pull-right text-right" style="line-height: 14px">
                  <div title="Ajouter ici" class="header-icon mx-2">
                    <span class="pe-7s-plus" data-toggle="modal" data-target="#exampleModal"></span>
                </div>
                </div>
                <div class="header-icon">
                    <i class="pe page-header-icon pe-7s-note2"></i>
                </div>
                <div class="header-title">
                    <h3>Ouput Des Environnements</h3>
                </div>
            </div>
            <hr>
        </div>

            <div class="col-md-12">
                <div class="panel panel-filled">
                    <div class="panel-body">
                        
                          
                          <!-- Modal -->
                          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Ajouter Nouvel Environnement</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <form [formGroup]="formGroup" (ngSubmit)="onAddEnvironnement()">
                                        <div class="form-group"><label for="exampleInputName">Titre</label> <input type="text" formControlName="titre"  class="form-control" id="exampleInputName" placeholder="Titre"></div>
                                        <div class="form-group"><label for="exampleInputEmail1">Classement</label> <input type="text" formControlName="classement"  class="form-control" id="exampleInputEmail1" placeholder="Classement"></div>
                                        <div class="form-group"><label for="exampleInputPassword1">Standart</label> 
                                            <textarea cols="30" rows="10" formControlName="standard"  class="form-control"></textarea>
                                        </div>
                                        <div class="form-group"><label for="exampleInputPassword1">Livrable</label> <input type="text" formControlName="livrable" class="form-control" id="exampleInputPassword1" placeholder="Livrable"></div>
                                        <div class="form-group"><label for="exampleInputPassword1">Validite</label> 
                                        <input type="text" name="" id="" formControlName="validite" class="form-control" placeholder="Validite">
                                        </div>
                                        <div class="form-group"><label for="exampleInputPassword1">Delai</label> <input type="text" formControlName="delai"  class="form-control" id="exampleInputPassword1" placeholder="Delai"></div>
                                        <div class="form-group"><label for="exampleInputPassword1">Cout Etude</label> <input type="text" formControlName="cout_etude" class="form-control" id="exampleInputPassword1" placeholder="Cout Etude"></div>
                                        <div class="form-group"><label for="exampleInputPassword1">Frais Admin</label> <input type="text" formControlName="frais_admin" class="form-control" id="exampleInputPassword1" placeholder="Frais Admin"></div>
                                        <div class="form-group"><label for="exampleInputPassword1">Penalite</label> <input type="text" formControlName="penalite" class="form-control" id="exampleInputPassword1" placeholder="Penalite"></div>
                                        
                                            <div><label> <input type="checkbox" formControlName="ispayer"> Est Paye </label></div>
                                            <div><label> <input type="checkbox" formControlName="isenvironnement"> Environnement</label></div>
                                            <div><label> <input type="checkbox" formControlName="isdate"> Est Date </label></div>

                                       
                                        <div class="form-group"><label for="exampleInputPassword1">Periode</label> <input type="text" formControlName="periode" class="form-control" id="exampleInputPassword1" placeholder="Periode"></div>
                                        <div class="form-group"><label for="exampleInputPassword1">Frequence</label> <input type="text" formControlName="frequence" class="form-control" id="exampleInputPassword1" placeholder="Frequence"></div>
                                        <div><label> <input type="checkbox" formControlName="isrelation"> Relation</label></div>
                                        
                                        <div class="form-group"><label for="exampleInputPassword1">Ordre</label> <input type="number" formControlName="ordre" class="form-control" id="exampleInputPassword1" placeholder="Ordre"></div>
                                       
                                        
                                        <button type="submit" (click)="onAddEnvironnement()"  data-dismiss="modal" class="btn btn-default">Submit</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- Modal -->
                          <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Modifier Environnement</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <form [formGroup]="formGroup2" (ngSubmit)="onEdit()">
                                        <div class="form-group"><label for="exampleInputName">Titre</label> <input type="text" formControlName="titre"  class="form-control" id="exampleInputName" ></div>
                                        <div class="form-group"><label for="exampleInputEmail1">Classement</label> <input type="text" formControlName="classement"  class="form-control" id="exampleInputEmail1" ></div>
                                        <div class="form-group"><label for="exampleInputPassword1">Standart</label>
                                            <textarea cols="30" rows="10" formControlName="standard"  class="form-control"></textarea>
                                        </div>
                                        <div class="form-group"><label for="exampleInputPassword1">Livrable</label> <input type="text" formControlName="livrable" class="form-control" id="exampleInputPassword1" ></div>
                                        <div class="form-group"><label for="exampleInputPassword1">Validite</label> 
                                        <input type="text" name="" id="" formControlName="validite" class="form-control">
                                        </div>
                                        <div class="form-group"><label for="exampleInputPassword1">Delai</label> <input type="text" formControlName="delai"  class="form-control" id="exampleInputPassword1"></div>
                                        <div class="form-group"><label for="exampleInputPassword1">Cout Etude</label> <input type="text" formControlName="cout_etude" class="form-control" id="exampleInputPassword1" ></div>
                                        <div class="form-group"><label for="exampleInputPassword1">Frais Admin</label> <input type="text" formControlName="frais_admin" class="form-control" id="exampleInputPassword1" ></div>
                                        <div class="form-group"><label for="exampleInputPassword1">Penalite</label> <input type="text" formControlName="penalite" class="form-control" id="exampleInputPassword1"></div>
                                        
                                            <div><label> <input type="checkbox" formControlName="ispayer"> Est Paye </label></div>
                                            <div><label> <input type="checkbox" formControlName="isenvironnement"> Environnement</label></div>
                                            <div><label> <input type="checkbox" formControlName="isdate"> Est Date </label></div>

                                       
                                        <div class="form-group"><label for="exampleInputPassword1">Periode</label> <input type="text" formControlName="periode" class="form-control" id="exampleInputPassword1" ></div>
                                        <div class="form-group"><label for="exampleInputPassword1">Frequence</label> <input type="text" formControlName="frequence" class="form-control" id="exampleInputPassword1"></div>
                                        <div><label> <input type="checkbox" formControlName="isrelation"> Relation</label></div>
                                        
                                        <div class="form-group"><label for="exampleInputPassword1">Ordre</label> <input type="number" formControlName="ordre" class="form-control" id="exampleInputPassword1"></div>
                                       
                                        
                                        <button type="submit" (click)="onEdit()" data-dismiss="modal" class="btn btn-default">Submit</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>

                   
                        <div id="tableExample3_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                            <div class="row"><div class="col-sm-10">
                                
                                <div class="dataTables_length" id="tableExample3_length">
                                    <label>Show 
                                        <select #numbers (change)="onSelected(numbers.value)" name="tableExample3_length" aria-controls="tableExample3" class="form-control form-control-sm">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="500">All</option>
                                        </select> entries</label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div id="tableExample2_filter" class="dataTables_filter" style="float: right;">
                                        <label>Search:<input [(ngModel)]="search" type="text"
                                                class="form-control form-control-sm" placeholder="Entrer un Titre ..."
                                                aria-controls="tableExample2">
                                        </label>
                                    </div>
                                </div>
                              
                                <div class="col-sm-2">
                                    <div id="tableExample3_filter" class="dataTables_filter">
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table id="tableExample3" class="table table-striped table-hover table-responsive-sm dataTable no-footer" role="grid">
                                            
                                <thead>
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="tableExample3" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" >Titre</th>
                                    <th class="sorting" tabindex="0" aria-controls="tableExample3" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" >Standart</th>
                                    <th class="sorting" tabindex="0" aria-controls="tableExample3" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" > Payer</th>
                                    <th class="sorting" tabindex="0" aria-controls="tableExample3" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" >Environnement</th>
                                    <th class="sorting" tabindex="0" aria-controls="tableExample3" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" >Daté</th>
                                    <th class="sorting" tabindex="0" aria-controls="tableExample3" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" >periode</th>
                                    <th class="sorting" tabindex="0" aria-controls="tableExample3" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" >En relation</th>
                                    <th class="sorting" tabindex="0" aria-controls="tableExample3" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" >Ordre</th>
                                    <th class="sorting" tabindex="0" aria-controls="tableExample3" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" >
                                           Actions
                                    </th>
                                    
                                    
                                    
                                </tr>
                                    
    
                                </thead>
                                <tbody style="display: content;">
                                    <tr role="row" class="even" *ngFor="let item of environnements">
                                        
                                        <td *ngIf="item.titre.toLowerCase().includes(search) || search==''">{{item.titre}}</td>
                                        <td *ngIf="item.titre.toLowerCase().includes(search) || search==''">{{item.standard}}</td>
                                        <td *ngIf="item.titre.toLowerCase().includes(search) || search==''">{{item.ispayer}}</td>
                                        <td *ngIf="item.titre.toLowerCase().includes(search) || search==''">{{item.isenvironnement}}</td>
                                        <td *ngIf="item.titre.toLowerCase().includes(search) || search==''">{{item.isdate}}</td>
                                        <td *ngIf="item.titre.toLowerCase().includes(search) || search==''">{{item.periode}}</td>
                                        <td *ngIf="item.titre.toLowerCase().includes(search) || search==''">{{item.isrelation}}</td>
                                        <td *ngIf="item.titre.toLowerCase().includes(search) || search==''">{{item.ordre}}</td>
                                        <td *ngIf="item.titre.toLowerCase().includes(search) || search==''" style="display: content;" class="d-flex">
                                            <button 
                                            (click)="onEditEnvironnement(item)"
                                            data-toggle="modal" data-target="#exampleModal2" class="btn btn-sm" title="Modifier ici">
                                            <span class="pe-7s-pen"></span>
                                        </button>
                                            <button (click)="onDeleteEnvironnement(item)" class="btn btn-sm" title="Supprimer ici">
                                                <span class="pe-7s-trash"></span>
                                            </button>
                                            <button title="details ici" (click)="showInModal(item)"
                                                data-toggle="modal" data-target="#exampleModal3" class="btn btn-sm">
                                                <span class="pe-7s-more"></span>
                                            </button>
                                        </td>
                                        
    
                                    </tr>
                                  
                            </tbody>
                            </table>
                            </div>
                            <div class="dataTables_paginate paging_simple_numbers" id="tableExample3_paginate">
                                <ul class="pagination">
                                    <li *ngFor="let item of [].constructor(this.totalPages);let i=index;" class="paginate_button page-item ">
                                        <a (click)="gotoPage(i)"  aria-controls="tableExample3" data-dt-idx="3" tabindex="0" class="page-link">{{i}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
                                
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Details Outputs</h4>
                <small> </small>
            </div>
            <div class="modal-body">
                <div class=" ">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h4 class="stat-label">Livrable</h4>
                            <div class="input-group mb-3 mt-2">
                                <P [innerHTML]="livrableVal"></P>
                            </div>
                        </div>
                        <div>
                            <h4 class="stat-label">Validite</h4>
                            <div class="input-group mb-3 mt-2">
                                <P [innerHTML]="validiteVal"></P>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div >
                            <h4 class="stat-label">Delai</h4>
                            <div class="input-group mb-3 mt-2">
                                <div [innerHTML]="delaiVal"></div>
                            </div>
                        </div>
                        <div >
                            <h4 class="stat-label">Cout Etude</h4>
                            <div class="input-group mb-3 mt-2">
                                <div [innerHTML]="coutVal"></div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div >
                            <h4 class="stat-label">Frais Admin</h4>
                            <div class="input-group mb-3 mt-2">
                                <div [innerHTML]="frais"></div>
                            </div>
                        </div><div>
                            <h4 class="stat-label">Penalite</h4>
                            <div class="input-group mb-3 mt-2">
                                <div [innerHTML]="penaliteVal"></div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div >
                            <h4 class="stat-label">Frequence</h4>
                            <div class="input-group mb-3 mt-2">
                                <div [innerHTML]="frequenceVal"></div>
                            </div>
                        </div>
                        <div >
                            <h4 class="stat-label">Classement</h4>
                            <div class="input-group mb-3 mt-2">
                                <div [innerHTML]="classementVal"></div>
                            </div>
                        </div>
                    </div>
                    </div>
                
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
